html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/* Menu */

.menu {
  background-image: url("/gold-cards-and-chips.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 120px;
}

.abas{
  position: absolute;
  top: 60px;
  left: 50px;
}
/* ------------END-------------- */

/* Home */

.mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.gamePokerImg {
  border-radius: 25px;
  width: 400px;
  cursor: pointer;
}


.gamePokerImg:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

/* ------------END-------------- */

/* Poker Rules */
.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.handRanking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.learn, .handRanking{
  margin-right: 70px;
  margin-left: 70px;
}

.hands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 70px;
  column-gap: 20px;
}

.handExemple {
  width: 30vw;
}

.mainPokerRules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  gap: 70px;
}

.howToPlayImg {
  height: 280px;
}

/* ------------END-------------- */

/* Poker */
.mainPoker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  --size: 6vw;
  width: var(--size);
  height: calc(var(--size) * 726 / 500);
}

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  --size: 6vw;
  width: var(--size);
  height: calc(var(--size) * 726 / 500);
}

.communityCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.communityCard {
  background-repeat: no-repeat;
  background-size: contain;
  --size: 6vw;
  width: var(--size);
  height: calc(var(--size) * 726 / 500);
}

.players {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 50px;
  gap: 20px;
}

.player {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.table {
  background-image: url("/poker-table.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  --size: 80vw;
  width: var(--size);
  height: calc(var(--size) * 357 / 612);
}

/* ------------END-------------- */

/* Footer */
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ------------END-------------- */